.movieRow {
  margin-bottom: 30px;
}

.movieRow h2 {
  font-size: 20px;
  margin: 0 0 0 30px;
}

.movieRow--listarea {
  overflow-x: hidden;
  padding-left: 30px
}

.movieRow--list {
  transition: all ease 0.5s;
}

.movieRow--item {
  cursor: pointer;
  display: inline-block;
  width: 150px;
}

.movieRow--item img {
  transform: scale(0.9);
  transition: all ease 0.2s;
  width: 100%;
}

.movieRow--item img:hover {
  transform: scale(1);
}

.movieRow--left,
.movieRow--right {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: flex;
  height: 225px;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  transition: all ease 0.5s;
  position: absolute;
  width: 40px;
  z-index: 99;
}

.movieRow--left {
  left: 0;
}

.movieRow--right {
  right: 0;
}

.movieRow:hover > .movieRow--left,
.movieRow:hover > .movieRow--right {
  opacity: 1;
}

@media (max-width: 760px) {
  .movieRow--left,
  .movieRow--right {
    opacity: 1;
  }
}