header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 30px;
  background: transparent;
  transition: all ease 0.5s;
}

header.black {
  background-color: #141414;
}

.header--navLeft, .header--navRight {
  font-size: 20px;
  display: flex;
  padding: 15px;
  border: 2px solid green;
  gap: 10px;
  align-self: center;
  align-items: center;
  cursor: pointer;
}

.header--navLeft > a:hover, .header--navRight > a:hover {
  color: #DDD;
}

div {
  font-size: 70%;
}
.header--logo {
  height: 25px;
}

.header--logo img{
  height: 100%;
}

.header--user {
  height: 35px;
}

.header--user img{
  height: 100%;
  border-radius: 3px;
}

@media (max-width: 760px) {
  .header--navLeft, .header--navRight {
    font-size: 14px;
    display: flex;
    justify-content: stretch;
    gap: 5px;
  }

  .header--logo img{
    height: 80%;
    margin-right: 10px;
  }
  
  .header--user img{
    height: 80%;
    border-radius: 3px;
    margin-left: 10px;
  }
}